body{
    max-width:1000px;
    margin:13px 30px;
    font-family: 'Scada', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:#0F223F;
}

.header 
{
    display:flex;
}

.header .menu .menu-item{
    margin-right: 45px;
}

.header, 
.footer,
.price {
    font-family: 'Source Sans Pro', Tahoma, Geneva, Verdana, sans-serif;
}

.header .logo{
    width: 18%;
}

.header .menu{
    display: flex;
    padding-top:10px;
    width: 50%;
}

.header .contact{
    font-size:24px;
    padding-top:5px;
    display:flex;
}

.logo {
    font-size:36px;
}

.content{
    margin-top: 5px;
    margin-bottom: 40px;
}

.content .title{
    font-family: 'Yusei Magic';
    font-size: 140px;
}

.content .sub-title{
    font-size: 30px;
}

.content .description{
    font-size: 24px;
    margin-top: 30px;
    width: 75%;
}

.content .title,
.content .sub-title{
    color: #003280;
}

.products{
    margin-top:40px;
    margin-bottom:20px;
}

.product-item{
    max-height: 700px;
}

.product-item .photos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 290px;
    height: 720px;
    align-content: space-between;
}

.product-item .photos .photo{
    margin-right:15px;
}

.product-item .photos .photo{
    padding-top:16px;
}

.product-item .info{
    width: inherit;
    padding-left:15px;
}

.product-item .info .price{
    padding-top:20px;
    font-size:40px;
}

.product-item .info .text{
    padding-top:15px;
    font-size:20px;
}

.footer{
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
}

.footer .menu{
    font-size: 20px;
    margin-left: auto;
    display:flex;
    margin-top:10px;
}

.footer .menu-item{
    margin-right: 46px; 
}
